<div class="container px-4">
  <h1 class="h3 my-4">Vezérlőpult</h1>
  <div class="row m-0">
    <div class="card shadow-sm col-xxl-4 col-lg-5 col-md-8 col-sm-10 col-xs-12 mb-4">
      <div class="card-header">
        <i class="fas fa-user-friends fa-fw fa-2x me-1"></i>
        <span>Lakók száma [fő]:</span>
      </div>
      <div class="card-body"><p class="m-0">{{ statistic.residentNumber }}</p></div>
    </div>
    <div class="card shadow-sm col-xxl-4 col-lg-5 col-md-8 col-sm-10 col-xs-12 mb-4 ms-lg-4">
      <div class="card-header">
        <i class="fas fa-hand-holding-medical fa-fw fa-2x me-1"></i>
        <span>Gyógyszer ellátás alatt [fő]:</span>
      </div>
      <div class="card-body"><p class="m-0">{{ statistic.medicationResidentNumber }}</p></div>
    </div>
  </div>

  <div class="row m-0">
    <div class="card shadow-sm col-xxl-4 col-lg-5 col-md-8 col-sm-10 col-xs-12 mb-4">
      <div class="card-header">
        <i class="fas fa-file-medical fa-fw fa-2x me-1"></i>
        <span>Gyógyszerek száma [darab]:</span>
      </div>
      <div class="card-body"><p class="m-0">{{ statistic.medicineNumber }}</p></div>
    </div>
    <div class="card shadow-sm col-xxl-4 col-lg-5 col-md-8 col-sm-10 col-xs-12 mb-4 ms-lg-4">
      <div class="card-header">
        <i class="fas fa-pills fa-fw fa-2x me-1"></i>
        <span>Használatban [darab]:</span>
      </div>
      <div class="card-body"><p class="m-0">{{ statistic.medicationMedicineNumber }}</p></div>
    </div>
  </div>

  <div class="row m-0">
    <div class="card shadow-sm col-xxl-4 col-lg-5 col-md-8 col-sm-10 col-xs-12 mb-4">
      <div class="card-header">
        <i class="fas fa-prescription-bottle-alt fa-fw fa-2x me-1"></i>
        <span>Gyógyszerkészlet elegendő [hét]:</span>
      </div>
      <div class="card-body" [class.error]="statistic.medicationWeek < 1"><p class="m-0">{{ statistic.medicationWeek.toFixed(2) }}</p></div>
    </div>
  </div>
</div>
