<div class="container px-4">
  <h1 class="h3 mt-4">{{ title }}</h1>
  <div class="card mb-4 col-xl-4 col-lg-6 col-md-8 col-sm-12">
    <div class="card-body">
      <form #editForm="ngForm" (ngSubmit)="onSubmit(editForm)">
        <ng-container *ngFor="let col of columns">
          <div *ngIf="col.type!=='select' && col.required" class="form-group">
            <label [for]="col.key">{{col.title}}</label>
            <input class="form-control" [type]="col.type" [id]="col.key" [name]="col.key" [(ngModel)]="item[col.key]" required [pattern]="col.pattern || ''">
            <div [hidden]="editForm.controls[col.key]?.valid" class="error-message">{{ col.error }}</div>
          </div>
          <div *ngIf="col.type!=='select' && !col.required" class="form-group">
            <label [for]="col.key">{{col.title}}</label>
            <input class="form-control" [type]="col.type" [id]="col.key" [name]="col.key" [(ngModel)]="item[col.key]" [pattern]="col.pattern || ''">
            <div [hidden]="editForm.controls[col.key]?.valid" class="error-message">{{ col.error }}</div>
          </div>
          <div *ngIf="col.type==='select'"class="form-group">
            <label [for]="col.key">{{col.title}}</label>
            <select class="form-control" [id]="col.key" [name]="col.key" [(ngModel)]="item[col.key]" >
              <option *ngFor="let opt of selectOptions" [value]="opt.k">{{ opt.v }}</option>
            </select>
          </div>
        </ng-container>
        <button type="submit" class="btn btn-primary col-12 mt-3" [disabled]="editForm.invalid">
          <i class="far fa-save"></i>
        </button>
        <div *ngIf="serverError && editForm.submitted" class="alert alert-danger mt-3">
          {{ serverError }}
        </div>
      </form>
    </div>
  </div>
</div>
